In [5]:
import pandas as pd


pd.set_option("display.max_column", 30)

In [6]:
df = pd.read_csv("./african-credit-scoring-challenge/economic_indicators.csv")
df

,Country,Indicator,YR2001,YR2002,YR2003,YR2004,YR2005,YR2006,YR2007,YR2008,YR2009,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022,YR2023
0,Ghana,"Inflation, consumer prices (annual %)",41.509496,9.360932,29.772980,18.042739,15.438992,11.679184,10.734267,16.494640,19.246948,10.733390,8.728459,11.186341,11.666192,15.489616,17.149970,17.454635,12.371922,7.808765,7.143640,9.887290,9.971089,31.255895,38.106966
1,Cote d'Ivoire,"Inflation, consumer prices (annual %)",4.361529,3.077265,3.296807,1.457988,3.885830,2.467191,1.892006,6.308528,1.019505,1.226456,4.912434,1.304511,2.581170,0.448682,1.251500,0.723178,0.685881,0.359409,-1.106863,2.425007,4.091952,5.276167,4.387117
2,Kenya,"Inflation, consumer prices (annual %)",5.738598,1.961308,9.815691,11.624036,10.312778,14.453734,9.758880,26.239817,9.234126,3.961389,14.022491,9.377770,5.717494,6.878155,6.582154,6.297250,8.005650,4.689806,5.239638,5.405162,6.107936,7.659863,7.671396
3,Ghana,"Official exchange rate (LCU per US$, period av...",0.716305,0.792417,0.866764,0.899495,0.905209,0.915107,0.932619,1.052275,1.404967,1.429983,1.520625,1.824867,1.981350,2.896575,3.714642,3.909817,4.350533,4.585325,5.217367,5.595708,5.805700,8.272400,11.020408
4,Cote d'Ivoire,"Official exchange rate (LCU per US$, period av...",732.397693,693.713226,579.897426,527.338032,527.258363,522.425625,478.633718,446.000041,470.293423,494.794262,471.248626,510.556338,493.899624,493.757330,591.211698,592.605615,580.656750,555.446458,585.911013,575.586005,554.530675,623.759701,606.569750
5,Kenya,"Official exchange rate (LCU per US$, period av...",78.563195,78.749142,75.935569,79.173876,75.554109,72.100835,67.317638,69.175320,77.352012,79.233152,88.810770,84.529602,86.122879,87.922164,98.178453,101.504369,103.410005,101.301574,101.991298,106.450780,109.637747,117.865989,139.846384
6,Ghana,Real interest rate (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Cote d'Ivoire,Real interest rate (%),NaN,NaN,NaN,NaN,5.763991,3.331831,1.613290,-0.368944,3.724734,3.543390,-0.428916,5.465350,2.343357,0.891701,0.361233,6.552137,6.246748,NaN,NaN,NaN,NaN,NaN,NaN
8,Kenya,Real interest rate (%),17.812501,17.358141,9.770511,5.045258,7.609988,-8.009867,4.819091,-0.984997,-10.096004,12.526958,4.526186,9.313511,9.293946,8.249079,6.268806,10.118129,5.656748,8.487960,7.831101,6.714634,7.427581,5.968447,6.546517
9,Ghana,Average precipitation in depth (mm per year),1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,NaN,NaN
10,Cote d'Ivoire,Average precipitation in depth (mm per year),1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,1348.000000,NaN,NaN
11,Kenya,Average precipitation in depth (mm per year),630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,NaN,NaN
12,Ghana,Deposit interest rate (%),30.854167,16.208333,14.323333,13.625000,10.162500,8.885417,8.895833,11.285000,17.064167,12.878333,8.908333,10.050000,12.350000,12.904167,13.339167,13.041667,14.062500,12.083333,11.500000,11.500000,11.500000,12.052083,11.416667
13,Cote d'Ivoire,Deposit interest rate (%),NaN,NaN,NaN,NaN,7.607500,7.821667,7.813333,8.124167,8.579167,8.386667,8.500833,7.992500,7.654167,7.258333,6.998333,6.925000,6.490000,NaN,NaN,NaN,NaN,NaN,NaN
14,Kenya,Deposit interest rate (%),6.639167,5.486667,4.133333,2.433333,5.082500,5.138703,5.162251,5.302131,5.967017,4.557367,5.628563,11.572145,8.641770,8.373380,9.188945,8.688626,7.674123,8.292700,7.506070,6.968703,6.686974,7.145176,9.167690
15,Ghana,Lending interest rate (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Cote d'Ivoire,Lending interest rate (%),NaN,NaN,NaN,NaN,7.049167,4.736667,4.751667,4.984167,4.977500,5.113333,5.255917,5.039167,5.287500,5.338333,5.154167,5.295000,5.140000,NaN,NaN,NaN,NaN,NaN,NaN
17,Kenya,Lending interest rate (%),19.665833,18.453333,16.573333,12.531667,12.882500,13.635534,13.340344,14.016939,14.804541,14.371500,15.046760,19.723407,17.313458,16.513931,16.086614,16.559631,13.667573,13.060759,12.441133,11.995785,12.079998,12.335841,13.588502
18,Ghana,Interest rate spread (lending rate minus depos...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Cote d'Ivoire,Interest rate spread (lending rate minus depos...,NaN,NaN,NaN,NaN,-0.558333,-3.085000,-3.061667,-3.140000,-3.601667,-3.273333,-3.244917,-2.953333,-2.366667,-1.920000,-1.844167,-1.630000,-1.350000,NaN,NaN,NaN,NaN,NaN,NaN
20,Kenya,Interest rate spread (lending rate minus depos...,13.026667,12.966667,12.440000,10.098333,7.800000,8.496831,8.178093,8.714809,8.837524,9.814133,9.418197,8.151262,8.671688,8.140551,6.897669,7.871005,5.993449,4.768059,4.935063,5.027081,5.393025,5.190665,4.420812
21,Ghana,Fossil fuel energy consumption (% of total),32.175719,36.028991,36.762136,36.920110,37.602505,43.034323,45.757247,42.952079,46.002394,49.677788,49.821040,52.616002,52.497593,52.543060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Cote d'Ivoire,Fossil fuel energy consumption (% of total),34.298397,37.848716,32.501441,24.930573,25.391257,21.449164,24.253285,24.616658,22.717804,23.231507,20.867762,24.680154,26.658122,26.492330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Kenya,Fossil fuel energy consumption (% of total),16.421786,15.676951,12.999011,14.099024,15.438744,17.065264,16.643511,16.964666,18.854773,19.411686,19.064019,17.114616,18.266072,17.379573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Ghana,Unemployment rate,9.604000,8.698000,7.722000,6.757000,5.817000,4.897000,5.092000,5.142000,5.349000,5.384000,4.227000,3.141000,2.173000,4.412000,6.806000,5.237000,3.369000,3.251000,3.156000,3.285000,3.338000,3.084000,3.079000
25,Cote d'Ivoire,Unemployment rate,5.199000,5.516000,5.858000,5.930000,6.041000,6.040000,6.308000,6.404000,6.586000,6.614000,7.145000,7.223000,4.255000,3.275000,2.574000,1.896000,3.273000,2.851000,2.401000,2.559000,2.590000,2.434000,2.403000
26,Kenya,Unemployment rate,2.868000,2.903000,2.860000,2.836000,2.739000,2.678000,2.650000,2.752000,2.813000,2.793000,2.706000,2.686000,2.764000,2.768000,2.763000,2.757000,3.540000,4.284000,5.014000,5.621000,5.693000,5.805000,5.682000

In [15]:
kenya = df[df['Country'] == 'Kenya'].reset_index(drop=True)
kenya

,Country,Indicator,YR2001,YR2002,YR2003,YR2004,YR2005,YR2006,YR2007,YR2008,YR2009,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022,YR2023
0,Kenya,"Inflation, consumer prices (annual %)",5.738598,1.961308,9.815691,11.624036,10.312778,14.453734,9.758880,26.239817,9.234126,3.961389,14.022491,9.377770,5.717494,6.878155,6.582154,6.297250,8.005650,4.689806,5.239638,5.405162,6.107936,7.659863,7.671396
1,Kenya,"Official exchange rate (LCU per US$, period av...",78.563195,78.749142,75.935569,79.173876,75.554109,72.100835,67.317638,69.175320,77.352012,79.233152,88.810770,84.529602,86.122879,87.922164,98.178453,101.504369,103.410005,101.301574,101.991298,106.450780,109.637747,117.865989,139.846384
2,Kenya,Real interest rate (%),17.812501,17.358141,9.770511,5.045258,7.609988,-8.009867,4.819091,-0.984997,-10.096004,12.526958,4.526186,9.313511,9.293946,8.249079,6.268806,10.118129,5.656748,8.487960,7.831101,6.714634,7.427581,5.968447,6.546517
3,Kenya,Average precipitation in depth (mm per year),630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,NaN,NaN
4,Kenya,Deposit interest rate (%),6.639167,5.486667,4.133333,2.433333,5.082500,5.138703,5.162251,5.302131,5.967017,4.557367,5.628563,11.572145,8.641770,8.373380,9.188945,8.688626,7.674123,8.292700,7.506070,6.968703,6.686974,7.145176,9.167690
5,Kenya,Lending interest rate (%),19.665833,18.453333,16.573333,12.531667,12.882500,13.635534,13.340344,14.016939,14.804541,14.371500,15.046760,19.723407,17.313458,16.513931,16.086614,16.559631,13.667573,13.060759,12.441133,11.995785,12.079998,12.335841,13.588502
6,Kenya,Interest rate spread (lending rate minus depos...,13.026667,12.966667,12.440000,10.098333,7.800000,8.496831,8.178093,8.714809,8.837524,9.814133,9.418197,8.151262,8.671688,8.140551,6.897669,7.871005,5.993449,4.768059,4.935063,5.027081,5.393025,5.190665,4.420812
7,Kenya,Fossil fuel energy consumption (% of total),16.421786,15.676951,12.999011,14.099024,15.438744,17.065264,16.643511,16.964666,18.854773,19.411686,19.064019,17.114616,18.266072,17.379573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Kenya,Unemployment rate,2.868000,2.903000,2.860000,2.836000,2.739000,2.678000,2.650000,2.752000,2.813000,2.793000,2.706000,2.686000,2.764000,2.768000,2.763000,2.757000,3.540000,4.284000,5.014000,5.621000,5.693000,5.805000,5.682000

In [9]:
df['Indicator'].value_counts()

Indicator
Inflation, consumer prices (annual %)                        3
Official exchange rate (LCU per US$, period average)         3
Real interest rate (%)                                       3
Average precipitation in depth (mm per year)                 3
Deposit interest rate (%)                                    3
Lending interest rate (%)                                    3
Interest rate spread (lending rate minus deposit rate, %)    3
Fossil fuel energy consumption (% of total)                  3
Unemployment rate                                            3
Name: count, dtype: int64